/* Quick reset */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
header, main, footer, aside, nav {
	display: block;
}
html, body {
	width: 100%;
	height: 100%;
	font-size:  14px;
}
body {
	background-color: #F4F2F2; /* body */
}
button, .button {
	-webkit-appearance: none;
	border: none;
	background-color: transparent;
	padding: 1em;
}

/* Type */


h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, figcaption, blockquote, th {
	font-family: 'Exo 2', sans-serif;
	font-weight: 300;
	padding: 0.5em 0;
}
p, span, li, cite, td {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
}

p {
	font-size: 16px;
	line-height: 1.5;
	margin: .5em 0;
}
h1, .h1 {
	font-size:  2em;
	margin-bottom: 0.5em;
}
h2, .h2 {
	font-size:  1.8em;
	margin-bottom: 0.4em;
}
h3, .h3 {
	font-size:  1.6em;
	margin-bottom: 0.3em;
}
h4, .h4 {
	font-size:  1.4em;
	margin-bottom: 0.2em;
}
h5, .h5 {
	font-size:  1.2em;
	margin-bottom: 0.15em;
}
h6, .h6 {
	font-size:  1em;
	margin-bottom: 0.1em;
}
a, .link {
	color: #512443;
	text-decoration: none;
	transition: color 1s;
}
a:hover, a:active, a:focus,
.link:hover {
	color: #6B2F58;
	text-decoration: none;
}

/* Sidebar */

header {
	background-color: #000; /* header */
	text-align: center;
}

header > h1 {
	font-size: 6em;
	line-height: 1;
	font-weight: 400;
	color: #F4E864;
	margin-top: 1em;
	margin-bottom: 0;
	padding-bottom: 0;
}
header h2 {
	margin-top: 0;
	color:  #868686;
	font-weight: 400;
	margin-bottom: 3em;
}
.main-nav ul {
	font-size: 0;
}
.main-nav ul li {
	display:  block;
	width:  100%;
	list-style:  none;
	font-size: 16px;
}
.main-nav ul li a {
	display: block;
	width: 100%;
	height: 1.5em;
	line-height: 1.5;
	color: #868686;
}
.main-nav ul li a:hover {
	color: #F3E085;
}

/* Footer */

footer {
	text-align: center;
}
footer > p {
	padding: 1em;
}

/* Main content area */

body > main {
	padding: 0 2em;
}
body > main :last-child {
	margin-bottom: 2em;
}

article > main {
	margin-left: 0;
}

article {
	clear: both;
}

/* Tags */

.tags li {
	position: relative;
	float: left;
	height: 50px;
	margin: 5px;
	padding: 10px;
	border: 1px solid #512443;
	background-color: #e7e7e7;
	color: #512443;
	text-transform: uppercase;
	letter-spacing: 1px;
	line-height: 25px;
	border-radius: 5px;
	list-style: none;
}
.tags li span {
	visibility: hidden;
	position: absolute;
	margin-top: 10px;
	right: -150px;
	width: 0;
	font-size: 0;
	transition:  background-color 1s, visibility 1s;
}
.tags li:hover span {
	visibility: visible;
	background-color: #B2A2AD;
	color: #512443;
	font-size: inherit;
	z-index: 3;
	width: 150px;
	min-height: 1.5em;
	padding: 1em;
}

/* Cards */

.card {
	width: 28%; 
	padding: 0;
	margin-right: 2%;
	margin-bottom: 10px;
	float: left;
}
.card > figure {
	position: relative;
	width:  100%;
}
.card > figure > img, .card > img {
	max-width: 100%;
	width: 100%;
	margin-bottom: 10px;
}
.card > figure > figcaption {
	opacity: 0;
	display: none;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	text-align: center;
	padding: 2em;
	background-color: rgba(0,0,0,.6);
	color: rgba(255,255,255,.7);
	transition: opacity 1s;
}
.card > figure:hover > figcaption {
	opacity: 1;
	display: block;
}
.card > p {
	line-height: 1.5;
}
.card > a {
	font-size: 14px;
	line-height: 2em;
	font-family: 'Francois One', sans-serif;
	text-transform: uppercase;
	letter-spacing: 1px;
}

/* Icons */

a.icon {
	display: inline-block;
	height: 2em;
	width: 2em;
	margin-right: 1em;
	font-size: 1em;
	text-indent: -9999px;
	background-position: center center;
	background-size: contain;
	background-repeat: no-repeat;
	transition: color .5s;
}
a.icon:last-child  {
	margin-right: 0;
}

.icon.iCode {
	background-image: url(./images/icons/code.png);
}
.icon.iPreview {
	background-image: url(./images/icons/preview.png);
}

::selection {
	background: #F4E864;
	color: #000;
}

/* Responsive layout */
@media screen and (min-width: 768px) {
	body > header {
		position: fixed;
		top: 0;
		left: 0;
		height: 100%;
		width: 20%;
		padding: 1em;
	}
	body > main {
		margin-left: 20%;
	}
	article > main {
		float:  left;
		margin-top: 2em;
	}
	main {
		height:  100%;
		width:  80%;
	}
	body > footer {
		position: fixed;
		bottom: 14px;
		width: 20%;
	}
	article > aside {
		height: 100%;
		width: 20%;
		margin-top: 2em;
		float:  left;
	}
	
	
}
@media screen and (device-width: 360px),
	   screen  and (max-width: 768px){
	body > header, body > main, body > footer {
		width: 100%;
		padding: 15px;
	}
	article, .card {
		width: 100%;
	}
	.tags li:hover span  {
		display: none;
	}
}