/* Quick reset */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
header, main, footer, aside, nav {
	display: block;
}
html, body {
	width: 100%;
	height: 100%;
	font-size:  14px;
}
body {
	background-color: #F4F2F2; /* body */
	position: relative;
}
button, .button {
	-webkit-appearance: none;
	border: none;
	background-color: transparent;
	padding: 1em;
}

/* Type */


h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, figcaption, blockquote, th {
	font-family: 'Exo 2', sans-serif;
	font-weight: 300;
	padding: 0.5em 0;
}
p, span, li, cite, td {
	font-family: 'Exo 2', sans-serif;
	font-weight: 400;
}

p {
	font-size: 16px;
	line-height: 1.5;
	margin: .5em 0;
}
h1, .h1 {
	font-size:  36px;
	margin-bottom: 0.5em;
}
h2, .h2 {
	font-size:  32px;
	margin-bottom: 0.4em;
}
h3, .h3 {
	font-size:  28px;
	margin-bottom: 0.3em;
}
h4, .h4 {
	font-size:  24px;
	margin-bottom: 0.2em;
}
h5, .h5 {
	font-size:  20px;
	margin-bottom: 0.15em;
}
h6, .h6 {
	font-size:  18px;
	margin-bottom: 0.1em;
}
a, .link {
	color: #512443;
	text-decoration: none;
	transition: color 1s;
}
a:hover, a:active, a:focus,
.link:hover {
	color: #6B2F58;
	text-decoration: none;
}

/* Sidebar */

header {
	background-color: #000; /* header */
	text-align: center;
}

header > h1 {
	font-size: 6em;
	line-height: 1;
	font-weight: 400;
	color: #F4E864;
	margin-top: 1em;
	margin-bottom: 0;
	padding-bottom: 0;
}
header h2 {
	margin-top: 0;
	color:  #868686;
	font-weight: 400;
	margin-bottom: 3em;
}
.main-nav ul {
	font-size: 0;
}
.main-nav ul li {
	display:  block;
	width:  100%;
	list-style:  none;
	font-size: 16px;
}
.main-nav ul li a {
	display: block;
	width: 100%;
	height: 1.5em;
	line-height: 1.5;
	color: #868686;
}
.main-nav ul li a:hover {
	color: #F3E085;
}

/* Footer */

footer {
	text-align: center;
}
footer > p {
	padding: 1em;
}

/* Main content area */

body > main {
	padding: 0 2em;
}
body > main > article {
	margin-bottom: 3em;
}

article > main {
	margin-left: 0;
}

article {
	clear: both;

}

/* Tags */
.tags {
	z-index: 1;
	position: relative;
}
.tags li {
	display: inline-block;
	position: relative;
	vertical-align: middle;
	position: relative;
	height: 55px;
	list-style: none;
	overflow: hidden;
	text-align: justify;
	z-index: initial;
	cursor: pointer;
}
.tags > li > span:first-child {
	display: inline-block;
	position: relative;
	vertical-align: top;
	height: 50px;
	margin: 5px;
	padding: 10px;
	border: 1px solid #512443;
	background-color: #e7e7e7;
	color: #512443;
	text-transform: uppercase;
	letter-spacing: 1px;
	line-height: 25px;
	border-radius: 5px;
	z-index: -1;
}
.tags > li > ul {
	display: inline-block;
	height: 100%;
	width: 0;
}
.tags > li.active {
	overflow: visible;
}
.tags > li.active > span:first-child {
	background-color: #F4E864;
	color: #000000;
}

.tags li.active ul {
	vertical-align: middle;
	width: auto;
	list-style: none;
	font-size: 0;
}
.tags li.active ul li {
	display: inline-block;
	vertical-align: middle;
	float: left;
	padding: 10px;
	height: 100%;
	margin: 4px;
	font-size: 14px;
	text-transform: lowercase;
	letter-spacing: 1px;
	line-height: 25px;
	border: 1px solid #F4E864;
}
/* Cards */

.card {
	width: 30%; 
	padding: 0;
	margin-right: 3%;
	margin-bottom: 10px;
	float: left;
}
.card > figure {
	position: relative;
	width:  100%;
}
.card > figure > img, .card > img {
	max-width: 100%;
	width: 100%;
	margin-bottom: 10px;
}
.card > figure > figcaption {
	opacity: 0;
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	padding: 2em;
	text-align: center;
	background-color: rgba(0,0,0,.8);
	color: #fff;
	transition: opacity 1s;
}

.card > figure > figcaption > strong {
	display: block;
	margin-bottom: .5em;
}
.card > figure:hover > figcaption {
	opacity: 1;
	display: block;
}
.card > p {
	line-height: 1.5;
}
.card a {
	font-size: 14px;
	line-height: 2em;
	font-family: 'Exo 2', sans-serif;
	text-transform: uppercase;
	letter-spacing: 1px;
}

/* NL select box */
.select-year {
	display: inline;
	text-align: center;
	vertical-align: top;
	width: auto;
    border: none;
    border-bottom: 1px dashed #252525;
    box-shadow: none;
    font-family: inherit;
    font-size: inherit;
    overflow: hidden;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    cursor: pointer;
}
.select-year:focus {
	outline: none;
	width: auto;
}
.select-year option {
	-webkit-appearance:none; 
	-moz-appearance:none; 
	 appearance:none;
	display: block;
	font-size: .5em;
	padding: 6px;
}
/* Preview */
#preview_pane, #preview_pane .preview-content {
	display: none;
}
#preview_pane.active {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.4);
	z-index: 15;
}
#preview_pane .iClose {
	position: absolute;
	top: 0;
	right: 0;
	margin: 5px;
	width: 30px;
	height: 30px;
	font-size: 24px;
	z-index: 10;
}
#preview_pane.active  .preview-content.active {
	display: block;
	position: absolute;
	background-color: #fff;
	border-radius: 5px;
	width: 40%;
	height: 80%;
	margin-left: 30%;
	margin-top: 5%;
	overflow: auto;
}
#preview_pane.active .preview-content.active .main {
	padding: 30px;
}

#template-projects, #template-preview {
	display: none;
}
/* Icons */
.card a.icon {
	display: inline-block;
	margin-right: 1em;
}
a.icon {
	cursor: pointer;
	height: 2em;
	width: 2em;
	font-size: 1em;
	text-indent: -9999px;
	background-position: center center;
	background-size: contain;
	background-repeat: no-repeat;
	transition: color .5s;
}
a.icon:last-child  {
	margin-right: 0;
}
.icon.iClose {
	background-image: url(./images/icons/close.png);
}
.icon.iCode {
	background-image: url(./images/icons/code.png);
}
.icon.iPreview {
	background-image: url(./images/icons/preview.png);
}

::selection {
	background: #F4E864;
	color: #000;
}

/* Responsive layout */
@media screen and (min-width: 768px) {
	body > header {
		position: fixed;
		top: 0;
		left: 0;
		height: 100%;
		width: 20%;
		padding: 1em;
	}
	body > main {
		margin-left: 20%;
	}
	main {
		height:  100%;
		width:  80%;
	}
	body > footer {
		position: fixed;
		bottom: 14px;
		width: 20%;
	}

	.bio {
		font-size: 0;
	}
	.bio main, .bio aside {
		display: inline-block;
		vertical-align: top;
	}
	.bio main {
		width: 60%;
		margin-top: 2em;
	}
	.bio aside {
		width: 18%;
		padding: 1%;
		margin-top: 2em;
		margin-left: 20%;
	}
	
	
}
@media screen and (device-width: 360px),
	   screen and (max-width: 540px){
	body > header, body > main, body > footer {
		width: 100%;
		padding: 15px;
	}
	article, .card {
		width: 100%;
	}
	.tags > li.active {
		position: relative;
	}
	.tags > li > ul {
		display: none;
	}
	.tags > li.active > span:first-child {
		background-color: #F4E864;
		color: #000000;
	}

	.tags li.active ul {
		display: block;
		position: absolute;
		top: 50px;
		height: auto;
		list-style: none;
		font-size: 0;
	}
	.tags li.active ul li {
		display: block;
		float: left;
		padding: 10px;
		width: 100%;
		margin: 4px;
		font-size: 14px;
		text-transform: lowercase;
		letter-spacing: 1px;
		line-height: 25px;
		background-color: #e7e7e7;
		border: 1px solid #F4E864;
	}
	#preview_pane.active  .preview-content.active {
		display: block;
		position: absolute;
		background-color: #fff;
		border-radius: 5px;
		width: 100%;
		height: 100%;
		margin: 0;
	}
	#preview_pane.active .iClose {
		background-color: #000;
	}
}
@media screen and (min-width: 540px) and (max-width: 768px) {
	body > header, body > main, body > footer {
		width: 100%;
		padding: 15px;
	}
	
}
@media screen and (device-width: 360px) and (orientation: landscape),
	   screen and (min-width: 540px) and (max-width: 1200px) {

	body > header > h1 {
		font-size: 32px;
	}
	body > header > h2 {
		font-size: 28px;
	}
	article .card {
		width: 45%;
	}
	#preview_pane.active  .preview-content.active {
		width: 70%;
		margin-left: 15%;
	}
}

@media screen and (max-width: 540px) {
	.card {
		margin-bottom: 3em;
	}
	.card:last-child {
		margin-bottom: 0;
	}
	
	.card h1 {
		padding-top: 0;
	}
	.card > figure > figcaption > strong {
		font-size: 1em;
		margin-top: .5em;
	}
	#preview_pane.active .preview-content.active img {
		padding-top: 30px;
	}
}